{% extends "base.html" %}
{% load static %}

{% block extra_cdn %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css">
{% endblock %}

{% block content %}
<!-- Header -->
<section class="container custom-bg my-3">
    <div class="row text-white text-center py-4">
        <div class="col">
            <h2><strong>TECHNOLOGIES</strong></h2>
        </div>
    </div>
</section>


<!-- Technologies Section -->

<section class="container d-flex flex-column align-items-center gap-3">

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">HTML</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-html5-plain tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                        80%
                    </div>
                </div>
                <p class="mt-3">HTML is one of the fundamental languages of modern web development, and I've been using it from the beginning of my coding journey, gaining some level of expertise with it.</p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">CSS</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-css3-plain tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        60%
                    </div>
                </div>
                <p class="mt-3">Like HTML, CSS is a fundamental language in web development.
                    I have used it consistently to style all my projects. However, as my skills grew,
                    I began relying more on Bootstrap, which, to some extent, slowed my progress in mastering pure CSS.
                    There is still much to learn, and my current approach often involves trial and error.
                    Advancing my CSS skills remains a priority for me.
                </p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">JavaScript</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-javascript-plain tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        60%
                    </div>
                </div>
                <p class="mt-3">JavaScript is the final core programming language in my skill set.
                    I have been honing my skills with it since my second project at CodeInstitute,
                    but my journey with JavaScript started earlier through mini-courses on Udemy,
                    Skillshare, and self-directed learning. While I’m confident in my rapid progress,
                    I recognize that there’s still much more to explore and master.
                    Continuous practice and deeper learning remain a key focus for me.
                </p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">Bootstrap</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-bootstrap-plain-wordmark tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
                <p class="mt-3">Bootstrap has been one of the biggest leaps in advancing my coding skills.
                    Its ability to effortlessly structure layouts and apply styling with ease has been invaluable.
                    The framework’s flexibility and efficiency have allowed me to build responsive, visually appealing designs more effectively.
                </p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">GitHub</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-github-original tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                        70%
                    </div>
                </div>
                <p class="mt-3">GitHub is a widely used version control platform, 
                    and my journey with it began during my CodeInstitute Web Development course.
                    It has been an essential tool for managing my projects, tracking changes, and collaborating efficiently.
                    All my deployed projects, along with detailed README files, can be found there.
                </p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">Django</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-django-plain tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        60%
                    </div>
                </div>
                <p class="mt-3">Django is a full-stack framework that has allowed me to integrate and refine all my previous experience into a cohesive skill set.
                    With the power of Python, it has extended my capabilities, enabling me to build robust,
                    full-stack applications while strengthening my overall development expertise.
                </p>
            </div>
        </div>
    </details>

    <details class="w-100 custom-bg mb-1">
        <summary class="text-white">Heroku</summary>
        <div class="row text-white text-center custom-bg">
            <div class="col-12 col-md-6">
                <i class="devicon-heroku-original-wordmark tech-icon"></i>
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div class="d-flex justify-content-between mb-1">
                    <span>Beginner</span>
                    <span>Advanced</span>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-success text-white" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                        60%
                    </div>
                </div>
                <p class="mt-3">I have used Heroku to deploy my full-stack applications, ensuring they are accessible and functional in a live environment.
                    Its seamless integration with version control and database management has made deployment efficient and reliable.
                </p>
            </div>
        </div>
    </details>

</section>
{% endblock %}