{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid hero-section d-flex align-items-center justify-content-center">
    <div class="row w-100">
        <a href="" class="col-12 col-md-4 text-decoration-none d-block">
            <div class="bg-light text-black text-center rounded-3 p-5 shadow-sm">
                <h1 class="fw-bold">SERVICES</h1>
            </div>
        </a>
        <a href="" class="col-12 col-md-4 text-decoration-none d-block">
            <div class="bg-light text-black text-center rounded-3 p-5 shadow-sm">
                <h1 class="fw-bold">MY PORTFOLIO</h1>
            </div>
        </a>
        <a href="" class="col-12 col-md-4 text-decoration-none d-block">
            <div class="bg-light text-black text-center rounded-3 p-5 shadow-sm">
                <h1 class="fw-bold">CONTACT</h1>
            </div>
        </a>
    </div>
</div>

{% endblock %}