{% extends "base.html" %}
{% load static %}


{% block content %}


<div class="container my-4 text-center text-white custom-bg">
    <div class="row">
        <div class="col">
            <hr class="mb-3 header-div bg-white">
            <h2 class="text-white">My Profile</h2>
            <hr class="mb-5 header-div bg-white">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-lg-6">
            <p>Billing Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="custom-btn">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p>Order History</p>
            {{ orders }}
        </div>
    </div>
</div>

{% endblock %}
