/*---------------------------------------------------------- general css and base.html --------------------------------------------*/
/* Ensures the body background remains properly set */
body {
    background: url('/static/images/background5.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    padding-top: 320px;
    margin: 0;
    overflow-x: hidden;
}

/* Header styling */
header {
    background-color: rgba(0, 0, 0, 0.6);
    min-height: 300px;
    height: auto;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    z-index: 1000;
    padding: 20px 20px;
}

.header-div {
    opacity: 0.8; /* Adjust the opacity as needed */
}

/* Profile Image Styling */
.profile-img {
    width: 100%;
    max-width: 240px;
    height: auto;
    aspect-ratio: 1/1;
    background: url('/static/images/profile.jpg') no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    margin: auto;
    transition: transform 0.3s ease-in-out;
}

.profile-img:hover {
    transform: scale(1.2);
}

#intro {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin: auto;
}

/* button style */
.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #6e8efb, #a777e3); /* Gradient */
    border: none;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    max-width: 10rem;
}

.quantity-btn {
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #6e8efb, #a777e3); /* Gradient */
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.custom-btn:hover {
    background: linear-gradient(135deg, #5b7cfa, #945bd6);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#service-btn {
    min-width: 8rem;
}

/* Navigation Block Styling */
.nav-blk {
    background-color: rgba(50,49,49, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 10px;
    min-height: 50px;
}

.nav-blk a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    padding: 10px;
}

.list-inline-item {
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hover:hover {
    color: #6e8efb;
}

.navbar {
    padding: 10px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar-nav .nav-link {
    color: white !important;
    text-align: center;
    padding: 10px;
    transition: background 0.3s;
}

.navbar-nav .nav-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

.navbar-collapse {
    text-align: center;
}

.update-link,
.remove-item {
    cursor: pointer;
}

/*------------------------------------ Toasts styling -------------------------------------- */

.message-container {
    position: fixed;
    top: 20%;
    right: 5%;
    z-index: 99999999999;
}

.toast-capper {
    height: 6px;
}

/* ------------------------------------ footer styling ------------------------------------*/

.footer {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.footer a:hover {
    color: #6e8efb;
}

.footer-icons {
    font-size: 42px;
    text-decoration: none;
}

.footer-icons a {
    color: white;
}

.download-cv a {
    color: white;
    font-size: 36px;
}

/* ------------------------------------ tech.html ------------------------------------------*/

.tech-icon {
    font-size: 100px;
}

/* ------------------------------------ projects.html ---------------------------------------*/

.comments-section {
    display: none;
}

/* ----------------------------------- services/service_details -----------------------------*/

.card {
    width: 80%;
    margin: 10%;
}

/* ------------------------------------ index.html/Home page -------------------------------*/
.introduction-container {
    width: 90%;
    border-radius: 12px;
    padding: 20px;
    min-height: 220px;
}

.custom-bg {
    background-color: rgba(50,49,49, 0.8);
    padding: 20px;
    border-radius: 12px;
}

.hero-box {
    width: 90%;
    height: auto;
    border-radius: 12px;
    text-align: center;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-box a {
    margin: 6px;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* ------------------------------------ bag.html ----------------------------------- */

@media (max-width: 767px) {
    .table-responsive {
        overflow-x: hidden; /* Prevents horizontal scrolling */
    }

    .table thead {
        display: none;
    }

    .table tbody tr {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .table tbody td {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    /* Make the quantity buttons and input align in a row */
    .table .form-group {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
    }
    
    .quantity-btn {
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
}


/* -------------------------------- Media Queries ------------------------------------*/

@media (max-width: 1300px) and (min-width: 980px) {
    .hero-box h1 {
        font-size: 2rem;
    }
}

@media (min-width:1025px) {
    .custom-padding {
        padding: 5rem;
    }
}

@media (max-width: 767px) {
    #intro {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: auto;
    }

    header {
        height: auto;
        padding: 10px;
    }

    .profile-img {
        max-width: 140px;
        margin-bottom: 10px;
    }

    .list-inline-item {
        font-size: 14px;
    }

    .hero-box {
        width: 100%;
        margin: 8px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-box a {
        font-size: 16px;
        height: auto;
    }

    .introduction-container {
        width: 100%;
        min-height: 100%;
    }
}

@media (max-width: 425px) {
    body {
        padding-top: 380px;
    }

    .hero-box {
        width: 100%;
        margin: 5px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hero-box a {
        font-size: 14px;
        padding: 15px;
    }

    .introduction-container {
        width: 100%;
        height: auto;
    }
}
