{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}

<div class="custom-bg text-center text-white text-center">
    <hr class="mb-3 header-div bg-white">
    <h2 class="logo-font mb-4">{% trans "Change Password" %}</h2>
    <hr class="mb-3 header-div bg-white">

    <p>{% trans 'Your password is now changed.' %}</p>
    <a class="custom-btn text-white text-decoration-none" href="{% url 'account_login' %}">Back to Login</a>

</div>
{% endblock %}