<script>

$(document).ready(function() {

// Disable +/- buttons outside 1-99 range
function handleEnableDisable(itemId) {
    var inputField = $(`#id_qty_${itemId}`);
    var currentValue = parseInt(inputField.val());

    $(`#decrement-qty_${itemId}`).prop('disabled', currentValue <= 1);
    $(`#increment-qty_${itemId}`).prop('disabled', currentValue >= 99);
}

// Ensure proper enabling/disabling of all inputs on page load
$('.qty_input').each(function() {
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

// Check enable/disable every time the input is changed
$(document).on('change', '.qty_input', function() {
    var itemId = $(this).data('item_id');
    handleEnableDisable(itemId);
});

// Increment quantity
$(document).on('click', '.increment-qty', function(e) {
    e.preventDefault();
    var itemId = $(this).data('item_id');
    var inputField = $(`#id_qty_${itemId}`);
    var currentValue = parseInt(inputField.val());

    if (currentValue < 99) {
        inputField.val(currentValue + 1).change();
    }
});

// Decrement quantity
$(document).on('click', '.decrement-qty', function(e) {
    e.preventDefault();
    var itemId = $(this).data('item_id');
    var inputField = $(`#id_qty_${itemId}`);
    var currentValue = parseInt(inputField.val());

    if (currentValue > 1) {
        inputField.val(currentValue - 1).change();
    }
});

});


// no input allowed manually outside given range
document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("input[type='number']").forEach(input => {
        input.addEventListener("change", function () {
            let min = parseInt(this.min);
            let max = parseInt(this.max);
            let value = parseInt(this.value);

            if (value < min) {
                this.value = min;
            } else if (value > max) {
                this.value = max;
            }
        });
    });
});
</script>